{% extends "base.html" %}
{% block content %}
<h1>過去の改善提案</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>日時</th>
      <th>入力URL</th>
      <th>提案内容</th>
      <th>詳細を見る</th>
    </tr>
  </thead>
  <tbody>
    {% for item in history %}
    <tr>
      <td>{{ item.timestamp }}</td>
      <td>{{ item.url }}</td>
      <td class="preserve-newlines">{{ item.response }}</td>
      <td>
        <a href="{{ url_for('result_get') }}?id={{ item.id }}" class="btn btn-sm btn-primary">
          詳細
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
