<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO 改善AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-91XHW9PG44"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-91XHW9PG44');  
    </script>
    <meta name="google-site-verification" content="zpoNfDqhMyJXldtHOJSGus9kJV10JiTbQwzfVeh1uxY" />
<body>
    <h1>検索広告自動改善AI</h1>
    <p class="tagline">URLを入力するとデータの出力、競合の分析、改善案の提案を自動で行います</p>
    
    <form method="post" action="/">
        <label for="url">分析するURLを入力：</label>
        <input type="text" name="url" id="url" required placeholder="https://example.com">
        
        <div class="button-group">
            <button type="submit">分析開始</button>
            <a href="{{ url_for('result') }}" class="secondary-button">過去の改善提案を見る</a>
        </div>
    </form>

    {% if result %}
    <div class="result">
        <h3>分析結果：</h3>
        <pre>{{ result }}</pre>
    </div>
    {% endif %}
</body>
</html>
