<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.SEO AI｜URL入力だけで検索順位データを出力、競合分析、SEO改善提案を自動生成</title>
    <meta name="description" content="Mr.SEO AIは、URLを入力するだけで検索順位データを出力し、競合サイトを分析し、SEO改善提案を自動生成するAIツールです。SEO対策を効率化したい方に最適。SEOの効果を最大化しましょう。">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-91XHW9PG44"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-91XHW9PG44');  
    </script>
</head>
<body class="flex flex-col min-h-screen">
    <main class="flex-grow">
    <nav>
        <h1>Mr.SEO AI</h1>
        <div>
            <a href="{{ url_for('index') }}">トップページ</a>
            <a href="{{ url_for('result') }}">過去の改善提案</a>
            <a href="{{ url_for('register') }}">新規登録</a>
            <a href="{{ url_for('login') }}">ログイン</a>
        </div>
    </nav>
    <h1>検索広告自動改善AI</h1>
    <p class="tagline">URLを入力するとデータの出力、競合の分析、改善案の提案を自動で行います</p>
    
    <form method="post" action="{{ url_for('index') }}">
        <label for="url">分析するURLを入力：</label>
        <input type="text" name="url" id="url" required placeholder="https://example.com">

        <label>
            <input type="checkbox" name="skip_metrics" id="skip_metrics">
            データ連携なしで分析のみ試す
        </label>
        
        <div class="button-group">
            <button type="submit">分析開始</button>
        </div>
    </form>


    {% if result %}
    <div class="result">
        <h3>分析結果：</h3>
        <pre>{{ result }}</pre>
    </div>
    {% endif %}
    </main>
    
    <footer class="site-footer">
    <div class="footer-links">
    <a href="{{ url_for('privacy') }}" class="mx-2 underline">プライバシーポリシー</a>
    </div>
    <a href="{{ url_for('terms') }}" class="mx-2 underline">利用規約</a>
    <p>&copy; Mr.SEO AI</p>
    </footer>

</body>
</html>
